   <!--!!!!!!!!!!!!!!!!!!!! Fixed Joint !!!!!!!!!!!!!!!!!!!!-->
    <!--    This frame undoes the 30 degree tilt-->
    <!-- <joint name="R_foot_dummy_joint" type="fixed">
        <parent link="R_foot_link"/>
        <child link="R_foot_dummy_link"/>
        <origin rpy="0 0.523599 0" xyz="0.0 0.0 0.0"/>
    </joint> -->

    <!-- <link name="R_foot_dummy_link">
        <inertial>
            <mass value="0.0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
    </link> -->
    <!--!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!!!!!!-->

    <!--!!!!!!!!!!!!!!!!!!!! Foot Accessories !!!!!!!!!!!!!!!!!!!!-->
    <!-- <joint name="R_heel_sphere_joint" type="fixed">
        <parent link="R_foot_dummy_link"/>
        <child link="R_heel_sphere_link"/>
        <origin rpy="0 0 0" xyz="-29.24654e-3 0.0 -41.50000e-3"/>
    </joint>
    <link name="R_heel_sphere_link">
        <inertial>
            <mass value="0.15127057"/>
            <inertia ixx="63.91181e-6" ixy="0" ixz="0" iyy="63.91181e-6" iyz="0" izz="63.91181e-6"/>
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial> -->

        <!-- <visual>
            <geometry>
                <sphere radius="0.030"/> -->
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/heel_link.dae"/>-->
            <!-- </geometry> -->
<!-- 
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.030"/> -->
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/heel_link.dae"/>-->
            <!-- </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link> -->

  
  
  
  <!--!!!!!!!!!!!!!!!!!!!! Toe Accessories !!!!!!!!!!!!!!!!!!!!-->
    <joint name="R_front_toe_box_joint" type="fixed">
        <parent link="R_toe_center_link"/>
        <child link="R_front_toe_box_link"/>
        <origin rpy="0 0 0" xyz="76.50000e-3 0.0 -36.00000e-3"/>
    </joint>
    <link name="R_front_toe_box_link">
        <inertial>
            <mass value="0.014202"/>
            <inertia ixx="1.00597e-6" ixy="0" ixz="0" iyy="0.11551e-6" iyz="0" izz="1.0268e-6"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="R_front_left_toe_box_joint" type="fixed">
        <parent link="R_front_toe_box_link"/>
        <child link="R_front_left_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 0.045 0 "/>
    </joint>
    <link name="R_front_left_toe_box_link">
        <inertial>
            <mass value="0.00014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="R_front_right_toe_box_joint" type="fixed">
        <parent link="R_front_toe_box_link"/>
        <child link="R_front_right_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 -0.045 0 "/>
    </joint>
    <link name="R_front_right_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="R_hind_toe_box_joint" type="fixed">
        <parent link="R_toe_center_link"/>
        <child link="R_hind_toe_box_link"/>
        <origin rpy="0 0 0" xyz="-8.5e-3 0.0 -36.00000e-3"/>
    </joint>
    <link name="R_hind_toe_box_link">
        <inertial>
            <mass value="0.0000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

   <joint name="R_hind_left_toe_box_joint" type="fixed">
        <parent link="R_hind_toe_box_link"/>
        <child link="R_hind_left_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 0.045 0"/>
    </joint>
    <link name="R_hind_left_toe_box_link">
        <inertial>
            <mass value="0.0000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="R_hind_right_toe_box_joint" type="fixed">
        <parent link="R_hind_toe_box_link"/>
        <child link="R_hind_right_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 -0.045 0"/>
    </joint>
    <link name="R_hind_right_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <!--!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!!!!!!!!!!!!! Heel Accessories !!!!!!!!!!!!!!!!!!!!-->
    <joint name="R_heel_sphere_bottom_joint" type="fixed">
        <parent link="R_heel_sphere_link"/>
        <child link="R_heel_sphere_bottom_link"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 -0.0260028"/>
    </joint>


    <link name="R_heel_sphere_bottom_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>




 <!--!!!!!!!!!!!!!!!!!!!! Fixed Joint !!!!!!!!!!!!!!!!!!!!-->
    <!--    This frame undoes the 30 degree tilt-->
    <joint name="L_foot_dummy_joint" type="fixed">
        <parent link="L_foot_link"/>
        <child link="L_foot_dummy_link"/>
        <origin rpy="0 0.523599 0" xyz="0.0 0.0 0.0"/>
        <!--undo 30 degree tilt-->
    </joint>

    <link name="L_foot_dummy_link">
        <inertial>
            <mass value="0.0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
            <origin xyz="0 0 0"/>
        </inertial>
    </link>
    <!--!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!!!!!!-->

    <!--!!!!!!!!!!!!!!!!!!!! Foot Accessories !!!!!!!!!!!!!!!!!!!!-->
    <joint name="L_heel_sphere_joint" type="fixed">
        <parent link="L_foot_dummy_link"/>
        <child link="L_heel_sphere_link"/>
        <origin rpy="0 0 0" xyz="-29.24654e-3 0.0 -41.50000e-3"/>
    </joint>
    <link name="L_heel_sphere_link">
        <inertial>
            <mass value="0.15127057"/>
            <inertia ixx="63.91181e-6" ixy="0" ixz="0" iyy="63.91181e-6" iyz="0" izz="63.91181e-6"/>
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>

        <visual>
            <geometry>
                <sphere radius="0.030"/>
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/heel_link.dae"/>-->
            </geometry>

            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.030"/>
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/heel_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>


    <!--!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!!!!!!-->
     <!--!!!!!!!!!!!!!!!!!!!! Toe Accessories !!!!!!!!!!!!!!!!!!!!-->
    <joint name="L_front_toe_box_joint" type="fixed">
        <parent link="L_toe_center_link"/>
        <child link="L_front_toe_box_link"/>
        <origin rpy="0 0 0" xyz="76.50000e-3 0.0 -36.00000e-3"/>
    </joint>
    <link name="L_front_toe_box_link">
        <inertial>
            <mass value="0.014202"/>
            <inertia ixx="1.00597e-6" ixy="0" ixz="0" iyy="0.11551e-6" iyz="0" izz="1.0268e-6"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="L_front_left_toe_box_joint" type="fixed">
        <parent link="L_front_toe_box_link"/>
        <child link="L_front_left_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 0.045 0 "/>
    </joint>
    <link name="L_front_left_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="L_front_right_toe_box_joint" type="fixed">
        <parent link="L_front_toe_box_link"/>
        <child link="L_front_right_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 -0.045 0 "/>
    </joint>
    <link name="L_front_right_toe_box_link">
        <inertial>
            <mass value="0.0014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="L_hind_toe_box_joint" type="fixed">
        <parent link="L_toe_center_link"/>
        <child link="L_hind_toe_box_link"/>
        <origin rpy="0 0 0" xyz="-8.5e-3 0.0 -36.00000e-3"/>
    </joint>
    <link name="L_hind_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="L_hind_left_toe_box_joint" type="fixed">
        <parent link="L_hind_toe_box_link"/>
        <child link="L_hind_left_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 0.045 0"/>
    </joint>
    <link name="L_hind_left_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>
    <joint name="L_hind_right_toe_box_joint" type="fixed">
        <parent link="L_hind_toe_box_link"/>
        <child link="L_hind_right_toe_box_link"/>
        <origin rpy="0 0 0" xyz="0 -0.045 0"/>
    </joint>
    <link name="L_hind_right_toe_box_link">
        <inertial>
            <mass value="0.000014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <!--!!!!!!!!!!!!!!!!!!!!  !!!!!!!!!!!!!!!!!!!!-->


    <joint name="L_heel_sphere_bottom_joint" type="fixed">
        <parent link="L_heel_sphere_link"/>
        <child link="L_heel_sphere_bottom_link"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 -0.0260028"/>
    </joint>


    <link name="L_heel_sphere_bottom_link">
        <inertial>
            <mass value="0.00014202"/>
            <inertia ixx="1.00597e-9" ixy="0" ixz="0" iyy="0.11551e-9" iyz="0" izz="1.0268e-9"/>
            <!--- ABS block, TODO update-->
            <origin rpy="0 0 0" xyz="0e-3 0e-3 0e-3"/>
        </inertial>
        <visual>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use simulation generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="orange">
                <color rgba="1 .5 .03 1."/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size=".015 .090 .010" />
                <!-- use sim's generated mesh vs approximate CAD stl (see line below) -->
                <!--                <mesh filename="package://urdf_viewer/src/meshes/toebox_link.dae"/>-->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

